@import "../../styles/variables.scss";

.homeHero {
  background-color: $lightBlue;
  padding: 45px 0 0;

  @include mobileonly {
    padding: 15px 15px 70px;
  }
}

.heroContent {
  margin-top: 80px;
  margin-bottom: 0;

  @include mobileonly {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}

.heroColumn {
  padding: 0;
  margin: 0;
}

.heroImage {
  transform: translateY(10px);

  @include desktopAndAbove {
    min-height: 455px;
  }
}

.heroHeading {
  font-size: 84px;
  font-family: $mabry;
  font-weight: bold;
  color: $black;
  line-height: 84px;
  max-width: 500px;
  padding-top: 30px;

  @include mobileonly {
    padding-top: 0;
    font-size: 51px;
    line-height: 51px;
  }
}

.heroSubHeading {
  color: $black;
  font-family: $gtamerica;
  font-size: 20px;
  margin: 10px 0;
  max-width: 550px;
}

.button {
  margin-top: 20px;

  @include mobileonly {
    width: 100%;
  }
}

.gradientColumns {
  margin: 0;
  padding: 0;
  height: 150px;
  background-image: url("../../images/Rectangle.png");
}
