@import "../../styles/variables.scss";

.homeHero {
  background-color: $darkBlue;
  padding: 100px 0;
}

.imageColumn {
  margin: 0;
  padding: 0;
}

.heroContent {
  margin-top: 80px;
  margin-bottom: 0;
}

.column {
  padding: 0;
  margin: 0;
}

.heroHeading {
  font-size: 84px;
  font-family: $mabry;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  color: $white;
  padding-top: 30px;
}

.heroSubHeading {
  color: $white;
  font-family: $gtamerica;
  font-size: 20px;
  line-height: 32px;
  margin: 10px auto;
}

.button {
  margin-top: 20px;
}

.heroImage {
  @include desktopAndAbove {
    min-height: 700;
  }
}

.heroColumn {
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin-top: 240px;
}
