@import "../../styles/variables.scss";

.homeHero {
  background-color: $darkBlue;
  padding: 20px 15px 20px 0;
}

.imageColumn {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.heroContent {
  margin-top: 80px;
  margin-bottom: 0;

  @include mobileonly {
    margin: 0;
  }
}

.column {
  padding: 0;
  margin: 0;
}

.heroHeading {
  font-size: 84px;
  font-family: $mabry;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  color: $white;
  padding: 30px 0 20px;
  max-width: 400px;

  @include mobileonly {
    font-size: 45px;
    line-height: 55px;
    padding-top: 0;
  }
}

.heroSubHeading {
  color: $white;
  font-family: $gtamerica;
  font-size: 20px;
  line-height: 32px;
  margin: 10px auto;
}

.button {
  margin-top: 20px;
}

.heroImage {

  @include desktopAndAbove {
    min-height: 700;
  }
}

.heroColumn {
  margin: 0;
  padding: 0;
  max-width: 450px;
  margin-top: 195px;
  position: relative;
  z-index: 1;

  @include mobileonly {
    margin: 0;
    padding-left: 15px;
    transform: translateY(-70px)
  }
}
