@import "../../styles/variables.scss";

.help {
  margin: 50px 0;

  @include mobileonly {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.name {
  font-family: $gtamerica;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include mobileonly {
    text-align: center;
  }
}

.function {
  font-family: $gtamerica;
  font-size: 18px;
  line-height: 30px;
  color: $lightBlack;
  margin-bottom: 20px;

  @include mobileonly {
    text-align: center;
  }
}

.heading {
  font-family: $mabry;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 26px;
  color: $black;
  padding: 20px 0 60px;

  @include mobileonly {
    font-size: 30px;
    text-align: center;
  }
}

.email {
  display: block;
  font-family: $gtamerica;
  font-size: 18px;
  line-height: 30px;
  color: $orange;
}

.phone {
  display: block;
  font-family: $gtamerica;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}
