@import "../../styles/variables.scss";

.subheading {
  font-family: $gtamerica;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  color: $black;
  padding: 30px 0;
}

.downlaod {
  padding: 40px 0;
}

.icon {
  display: inline-flex;
  background: $orange;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.link {
  font-family: $gtamerica;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;
  margin-right: 10px;

  @include mobileonly {
    font-size: 16px;
  }
}

.optionalText {
  font-family: $gtamerica;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @include mobileonly {
    font-size: 16px;
  }
}

.heading {
  font-family: $mabry;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 26px;
  color: $black;
}
