// Importing variables
@import "../styles/variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

.navbar {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

a {
  text-decoration: none; /* no underline */
}

hr {
  margin: 1rem 0;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}
